body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
p{
    line-height: 2;
}
h1{
    margin-top: 0;
    font-family:'Sacramento', cursive;
    font-size: 5.625rem;
    color: #2a6171;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
    color: #2a6171;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr{
    border:dotted grey 6px; 
    border-bottom: none;
    width:5%;
    margin: 100px auto;
}
a{
    color: #11999E;
    text-decoration: none;
    margin:10px 20px;
    font-family: 'Montserrat',sans-serif;
}
a:hover{
    color: #EAF6F6;
}
.top-container{
    background-color: #d7f7f5;
    padding-top: 100px;
    position:relative; 
    
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom:300px;
}
.middle-container{
    margin:100px;
}
.profile img{
    width:25%;
    border-radius: 100%;
}
.intro{
    width: 30%;
    margin:0 auto;
    text-align: left;
    
}
.skill-row{
    width:50%;
    margin:100px auto; 
    text-align: left;
}
.code-img{
    width: 25%;
    border-radius: 100%;
    float:left;
    margin-right: 30px;
}
.gym-img{
     width: 25%;
    float:right;
    margin-right: 30px;    
}

.bottom-container {
    background-color: #66BFBF;
    padding:20px;
}

.contact-message {
    width: 30%;
    margin:40px auto 60px auto;
}


.butn {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -moz-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -ms-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -o-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: linear-gradient(to bottom, #66bfbf, #66bfbf);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #2a6171;
  background-image: -webkit-linear-gradient(top, #2a6171, #2a6171);
  background-image: -moz-linear-gradient(top, #2a6171, #2a6171);
  background-image: -ms-linear-gradient(top, #2a6171, #2a6171);
  background-image: -o-linear-gradient(top, #2a6171, #2a6171);
  background-image: linear-gradient(to bottom, #2a6171, #2a6171);
  text-decoration: none;
}
.copyright {
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px;
}

img {
    
}
